.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
*.log
*.tlog

_UpgradeReport_Files/
UpgradeLog*.XML
*.Publish.xml
*.azurePubxml
*.azurePubxml.user
publish/

*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.dbmdl
*.dbproj.schemaview
*.mdf
*.ldf

*.vspscc
*.vssscc
*.cache
*.pdb
*.sdf

*.tmp
*.bak
*.swp
*.swo
*.orig


